body {
    background-color: #000; /* Fond noir */
    background-image: url("../assets/bg2.jpg");
    background-size: cover; 
    color: #fff; /* Texte blanc */
    font-family: Arial, sans-serif; /* Police */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /*Hauteur de la fenêtre */
    
}

h1 {
    font-size: 2.5em; /* Taille du titre */
    margin: 50px 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.8em; /* Taille des sous-titres */
    margin-bottom: 10px;
}

#description {
    font-size: 1.2em; /* Taille de la description */
    /* margin-bottom: 20px; */
}

#content {
    width: 80%; /* Largeur du conteneur de contenu */
    max-width: 800px; /* Largeur maximale */
    margin: auto; /* Centrer le conteneur */
    position: relative; /* Position relative pour le positionnement absolu des boutons */
}

.section {
    display: none; /* Cacher toutes les sections par défaut */
    background-image: url("../assets/bg2.jpg");
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    margin-bottom: 20px; /* Espacement entre les sections */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Ombre autour des sections */
}

.section.active {
    display: block; /* Afficher la section active */
}

ul {
    list-style-type: "-";
    padding: 5; /* Enlever le padding */
    margin-bottom: 50px;
}

li {
    margin: 15px ; /* Espacement entre les éléments de la liste */
    position: relative; 
    padding-left: 10px;
    font-size: 20px;
}

p {
    font-size: 20px;
}


button {
    background-color: #007BFF; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: none; /* Enlever la bordure */
    border-radius: 5px; /* Coins arrondis pour les boutons */
    padding: 10px 15px; /* Espacement interne des boutons */
    cursor: pointer; /* Curseur pointeur pour les boutons */
    transition: background-color 0.3s; /* Animation lors du survol */
    width: 60px; /* Largeur des boutons */
    position: absolute; /* Positionnement absolu */
    margin-bottom: 20px;
}

#prevButton {
    bottom: 20px; /* Positionné à 20px du bas */
    right: 100px; /* Positionné à 100px de la droite */
}

#nextButton {
    bottom: 20px; /* Positionné à 20px du bas */
    right: 20px; /* Positionné à 20px de la droite */
}

button:hover {
    background-color: #0056b3; /* Couleur de fond lors du survol */
}

button:disabled {
    background-color: #ccc; /* Couleur des boutons désactivés */
    cursor: not-allowed; /* Curseur pour les boutons désactivés */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    #description {
        font-size: 1em;
    }
    
    li, p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    #description {
        font-size: 0.9em;
    }
    
    li, p {
        font-size: 0.8em;
    }
}
